.jumbotron-ab {
  @extend .row;
  background: url(../images/bg-floripa.jpg) center center no-repeat;
  background-size: cover;
  //@include filter(blur, 10px);
  .teaser {
    clear: both;
    margin-top: 50px;
    margin-left: 15px;
  }
  h1 {
    color: #fff;
    font-size: 55px;
  }
  h2 {
    color: #fff;
  }
  .btn {
    margin-top: 1.5em;
  }
  margin-bottom: 0;
}


.page-title-wrapper {
  background: #D9EDF7;
  color: #3A87AD;
  height: 80px;
  text-transform: uppercase;
  h1 {
    font-size: 2em;
  }
}
