.calltoaction {
  @extend .row;
  background-color: #D9EDF7;
  margin-bottom: 50px;
  .block {
    @extend .col-md-4;
    margin: 50px 0;

    i.volunteer {
      color: #468851;
    }
    i.virada {
      color: #3A87AD;
    }
    i.wbma {
      color: #F5A623;
    }
    h3 {
      color: #3A87AD;
    }
    p.description {
      color: #4A4A4A;
      margin-bottom: 15px;
    }
  }
}
