.news {
  @extend .col-md-6;
  .post {
    margin-bottom: 30px;
  }
  h2 {
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 0 0 5px 0;
    a {
        color: #468850;
    }
  }
  .post-info {
    margin-bottom: 0;
  }
  .date {
    font-weight: bold;
    color: #A6AEB4
  }
}

.social-links {

}

.important-dates {
  dd {
    border-bottom: 1px solid #333;
  }

}
