.content-wrapper {
  @extend .row;
  padding-bottom: 50px;
}

.news {
  @extend .col-md-6;
  .post {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
  }
  h2 {
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 0 0 5px 0;
    a {
        color: #468850;
    }
  }
  .post-info {
    margin-bottom: 0;
  }
  .date {
    font-weight: bold;
    color: #A6AEB4
  }
}

.home-sidebar {
  @extend .col-md-6;
}

.important-dates {
  @extend .col-sm-7;
  @extend .col-md-12;
  .dl-horizontal {
    padding: 15px 0;
  }
  dd {
    border-bottom: 1px solid #ccc;
    padding: 8px 0 5px 0;
    margin-left: 0;
  }
  dt {
    padding-top: 10px;
    @media (min-width: 768px) {
      padding: 5px 0;
      width: 130px;
      text-align: center;
    }
  }
}

.social-links {
  @extend .col-sm-5;
  @extend .col-md-12;
  i {
    padding: 10px;
    font-size: 4em;
  }
}

