.content-wrapper {
  padding: 0 0 50px 0;
}

.news {
  @extend .col-md-6;
  .post {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
  }
  h2 {
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 0 0 5px 0;
    a {
        color: #468850;
    }
  }
  .post-info {
    margin-bottom: 0;
  }
  .date {
    font-weight: bold;
    color: #A6AEB4
  }
}

.home-sidebar {
  @extend .col-md-6;
}

.important-dates {
  .dl-horizontal {
    padding: 15px 0;
  }
  dd {
    border-bottom: 1px solid #ccc;
    padding: 8px 0 5px 0;
    margin-left: 0;
  }
  dt {
    padding: 5px 0;
    width: 130px;
    text-align: center;
  }
}

.social-links {
  i {
    padding: 20px;
    font-size: 5em;
  }
}

