.motives {
  @extend .row;
  padding: 15px 0 40px 0;
  .group {
    @extend .col-sm-6;
    @extend .col-lg-3;
    @extend .clearfix;
    margin: 1.5em 0;
    a {
      color: #4A4A4A;
    }
    .description {
      padding-left: 5px;
      padding-right: 0;
      font-size: 1.2em;
      @extend .col-xs-9;
    }
    i {
      @extend .col-xs-3;
      @media (min-width: 992px) {
        padding-top: 15px;
      }
    }
  }
}
